body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  place-items: center;
}

header {
  margin: 0 auto;
  text-align: center;
  color: #112a46;
  background-color: #acc8e5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  background: #333;
}

img {
  max-width: 400px;
  height: auto;
  animation: fade 15s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: #001f3f;
}

footer {
  display: block;
  /* width: 95vw; */
  padding: 2rem 0.5rem;
  /* margin-top: 25px; */
  margin: 0 auto;
  background-color: #121619;
  color: #fff;
  font-size: 4.5vw;
  text-align: center;
  line-height: 1.5;
}

.sm-scr {
  display: initial;
}

.bg-scr {
  display: none;
}

.footer-icons {
  margin-top: 1.5rem;
  color: white;
}

.footer-info {
  margin-top: 1.5rem;
  display: block;
}

.last-mod {
  color: #b2ff00;
}

/* Larger screen views *********************/

@media screen and (min-width: 421px) {
  body {
    margin: 0 auto;
    max-width: 60vw;
  }

  footer {
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 25px);
    grid-gap: 0.5rem;
    margin: 30px 0;
    padding: 1rem 0.5rem;
    background-color: #121619;
    color: #fff;
    font-size: 1vw;
    text-align: center;
    line-height: 1.5; */
    margin-top: 10px;
    font-size: clamp(8px, 12vw, 16px);
    width: 60vw;
    padding: 1rem 0;
  }

  .sm-scr {
    display: none;
  }

  .bg-scr {
    display: initial;
  }

  .footer-info {
    margin-top: 0;
    grid-column: 4 / 7;
    grid-row: 3 / 4;
  }

  .last-mod {
    color: #b2ff00;
    grid-column: 4 / 7;
    grid-row: 4 / 5;
  }
}
