body {
  font-family: "Roboto", sans-serif;
}

header,
main,
footer {
  max-width: 680px;
  margin: 1rem auto;
  border: 1px solid #333;
  padding: 1rem;
  background-color: rgb(109, 146, 196);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: white;
}
