/* General styles for all pages */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 420px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3eded;
  width: 90vw;
  /* max-width: 400px; */
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #001f3f;
}

header {
  position: relative;
  display: flex;
  width: 100px;
  /* justify-content: center; */
}

.logo-img {
  width: 40vw; /* 30vw */
  height: 120px; /* auto */
  margin: 20px 0; /* 10px 0 */
  padding-right: 10px;
  left: 0px;
}

.page-name {
  font-size: 6vw; /* 5vw */
  color: #2b3a67;
  /* margin-top: 20px; */
  padding: 1rem 0 1rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #333;
  color: #fff;
  margin-bottom: 20px;
}

.navigation li {
  display: none;
}

.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

.navigation li .active {
  background-color: #dbbea1;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #dbbea1;
  color: black;
  font-weight: bold;
}

.city-photo {
  width: 100%;
  height: auto;
  opacity: 0.8;
}

footer {
  display: block;
  width: 90vw;
  padding: 2rem 0.5rem;
  margin-top: 25px;
  background-color: #121619;
  color: #fff;
  font-size: 4.5vw;
  text-align: center;
  line-height: 1.5;
}

.sm-scr {
  display: initial;
}

.bg-scr {
  display: none;
}

.footer-img {
  height: clamp(0.5vh, 25vh, 30vh);
  width: clamp(0.5vh, 25vh, 30vh);
}
.soc-med-icons {
  max-width: 30px;
  max-height: 30px;
  margin: 0 10px;
}

.footer-addr {
  margin-top: 1.5rem;
  padding: 0 30px;
}

.footer-icons {
  margin-top: 1.5rem;
  color: white;
}

.footer-info {
  margin-top: 1.5rem;
  display: block;
}

.last-mod {
  color: #b2ff00;
}

/* small view navigation */
#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 7px 6px;
  background-color: #eee;
  color: #000;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
  display: block;
  width: 100%;
}
.open li a {
  display: block;
}

/* Styles for chamber.html */

#chamber .our-info h2 {
  margin-top: 15px;
  margin-bottom: 0px;
  color: blue;
  text-align: center;
}

.card {
  margin: 20px auto;
  max-width: 95vw;
  padding: 1rem;
  background-color: #d4d1d1;
  border: 1px solid #333;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.8);
}

.card h3 {
  font-size: 15px;
}

.card p,
.card a {
  margin: 10px 0;
  font-size: 13px;
  max-width: 90vw;
  padding-left: 10px;
}

.card a:hover {
  color: #ff851b;
  font-weight: bold;
}

#chamber .weather-info {
  width: 90vw;
  border: none;
}

#chamber #card04,
#chamber #card05,
#chamber #card06 {
  text-align: center;
}

#chamber .tagline {
  font-style: italic;
}

#chamber .join-button {
  display: block;
  width: 100%;
  max-width: 120px;
  height: 40px;
  background-color: #d8bd8a;
  color: black;
  border: 1px solid;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  align-items: center;
  margin: 15px auto;
  font-weight: bold;
}

#chamber .join-button a:hover {
  background-color: #acc8e5;
  color: #112a46;
}

/* Styles for discover.html */

.div1 {
  max-width: 90vw;
  margin: 0 auto;
  align-items: center;
  background-color: #eee;
}

.div1 .card {
  margin: 20px auto;
  /* max-width: 95vw; */
  padding: 1rem;
  background-color: #d4d1d1;
  border: 1px solid #333;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.8);
}

.div1 .card p,
.div1 .card a {
  margin: 10px 0;
  font-size: 13px;
  max-width: 90vw;
  padding-left: 10px;
}

.div1 .card a:hover {
  color: #ff851b;
  font-weight: bold;
}

.div-card01 {
  display: flex;
  /* margin: 15px 0 10px; */
}

.irc-img {
  width: 100%;
  height: auto;
}

#discover .hr-top {
  margin-bottom: 10px;
}

#discover h2 {
  font-size: 20px;
  padding: 15px 0;
  margin: 20px 0;
  border: 1px solid #333;
  border-radius: 25px;
  text-align: center;
}

#discover .places-img {
  width: 100%;
  height: auto;
}

#discover #card10 {
  text-align: center;
  font-weight: bold;
}

/* Styles for join.html */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
#join html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
#join * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --input-initial: rgba(0, 0, 0, 0.1);
  --input-color: #555;
  --input-valid: #bcb382;
  --back: hsla(150, 50%, 30%, 1);
}

#join body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3eded;
}

#join .pg-title {
  margin: 0 auto;
  margin-top: 1.5rem;
  text-align: center;
  background-color: var(--back);
  color: #fff;
  max-width: 760px;
  font-size: 1.5rem;
}

#join .bg-scr {
  display: none;
}

#join .form-container {
  align-items: center;
  display: block;
}

#join .smaller {
  font-size: 11px;
  position: relative;
  padding-bottom: 0.75rem;
  margin: 0;
  color: #750000 /* red  #681e0d */;
}

@keyframes shaketext {
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}

#join form fieldset {
  margin: 1rem auto;
  border: 1px solid #1a3c42;
  border-radius: 10px;
  padding: 0.5rem 2%;
}

#join form legend {
  color: #1a3c42;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

#join form label.top,
#join form div.top {
  display: block;
  padding-top: 1rem;
  color: var(--back); /* #681e0d */
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
}

#join form .reqd-note {
  color: #750000;
}

#join form label.top input {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: var(--input-color);
  width: 100%;
  max-width: 30rem;
  background-color: var(--input-initial);
  font-weight: bold;
}

#join .mbr-note {
  font-size: 0.7rem;
  font-style: italic;
}
#join form label.mbr {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

#join form input.submitBtn {
  display: block;
  border: none;
  background-color: var(--back);
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 auto;
  width: 96%;
  max-width: 20rem;
  font-weight: bold;
}

#join form label.top input::placeholder {
  font-size: 0.8rem;
}

#join form label.top input:required {
  border-left: red solid 6px;
}

#join form label.top input:required:valid {
  border-left: green solid 6px;
  background-color: var(--input-valid);
  color: rgba(0, 0, 0, 0.7);
}

/* thankyou.html Page  *********************/

#thankyou {
  text-align: center;
}

#thankyou h1,
#thankyou p {
  padding: 0.5rem 0;
}

/* Larger screen views *********************/

@media screen and (min-width: 421px) {
  /* General for all settings */
  * {
    margin: 0 auto;
    max-width: 90vw;
  }

  header {
    margin-top: 0px;
    width: 100%;
  }

  .logo-img {
    width: 12vw;
    margin: 10px 0 30px;
    padding-right: 10px;
  }

  .page-name {
    font-size: 4vw;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #menu {
    display: none; /* hide hamburger button */
  }

  #menu {
    top: 1.2rem;
    right: 1rem;
  }

  .navigation {
    flex-direction: row;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  /* for Chamber Home Page */

  #chamber .card {
    margin: 0;
    max-width: 100%;
    padding: 1rem;
  }

  #chamber .our-info {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-gap: 1rem;
  }

  #chamber .current-events-hdr {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  #chamber .join-button {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    max-width: 170px;
    height: 50px;
    padding-top: 15px;
  }

  #chamber .adverts-hdr {
    grid-column: 5 / 9;
    grid-row: 1 / 2;
  }

  #chamber #card01 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin-bottom: 30px;
  }

  #chamber #card02 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  #chamber #card03 {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  #chamber #card04 {
    grid-column: 6 / 8;
    grid-row: 2 / 3;
  }

  #chamber #card05 {
    grid-column: 6 / 8;
    grid-row: 3 / 4;
  }

  #chamber #card06 {
    grid-column: 6 / 8;
    grid-row: 4 / 5;
  }

  #chamber .weather-info {
    grid-column: 4 / 6;
    grid-row: 6 / 7;
  }

  /* for Discover Page */

  .div1 {
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    grid-template-rows: repeat(7, 145px);
    grid-gap: 1rem;
  }

  .div1 .card {
    margin: 0 auto;
  }

  .div1-hdr {
    grid-column: 1 / 4;
    grid-row: 1/2;
  }

  #discover #card01 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  #discover #card02 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  #discover #card03 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  #discover #card10 {
    grid-column: 1/4;
    grid-row: 5/6;
    width: 100%;
    height: 100%;
  }

  .div2-hdr {
    grid-column: 4 / 10;
    grid-row: 1 / 2;
  }

  .places-img:hover {
    box-shadow: 0 0 50px #333;
  }

  #discover #card04 {
    grid-column: 4 / 7;
    grid-row: 2 / 4;
    height: 100%;
  }

  #discover #card05 {
    grid-column: 7 / 10;
    grid-row: 2 / 4;
    height: 100%;
  }

  #discover #card06 {
    grid-column: 4 / 7;
    grid-row: 4 / 6;
    height: 100%;
  }

  #discover #card07 {
    grid-column: 7 / 10;
    grid-row: 4 / 6;
    height: 100%;
  }

  #discover #card08 {
    grid-column: 4 / 7;
    grid-row: 6 / 8;
    height: 100%;
  }

  #discover #card09 {
    grid-column: 7 / 10;
    grid-row: 6 / 8;
    height: 100%;
  }

  /* for Join Page */

  #join .card {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-top: 5px;
    height: 100%;
    font-size: 0.8rem;
  }
  #join .bg-scr {
    display: initial;
  }

  #join form label.mbr {
    padding: 0.4rem 0;
  }

  #join .form-container {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: 100px;
    grid-auto-rows: 180px;
    height: 100%;
    grid-gap: 1rem;
  }

  #join .current-events-hdr {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    padding: 0;
    margin: 0;
    text-align: center;
    height: auto;
    max-height: 180px;
    background-color: #001f3f;
    color: #fff;
  }

  legend {
    margin: 0;
    padding: 0;
  }
  #join .pg-title {
    grid-column: 7 / 10;
    grid-row: 1 / 2;
    padding: 0;
    margin: 0;
  }

  #join .mbr-benefits {
    padding: 0.75rem 0 0 15px;
  }

  #join .mbr-benefits li {
    padding-bottom: 0.5rem;
  }

  #join #card01 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  #join #card02 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  #join #card03 {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
  }

  #join #card04 {
    grid-column: 4 / 6;
    grid-row: 3 / 4;
  }

  #join .join-form {
    grid-column: 7 / 10;
    grid-row: 2 / 6;
    padding: 0;
    margin: 0;
  }

  #join footer {
    margin-top: 5rem;
  }

  /* for all Pages */
  .email,
  .phone,
  .card04 a {
    margin: 0 auto;
    text-align: center;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 25px);
    grid-gap: 0.5rem;
    margin: 30px 0;
    padding: 1rem 0.5rem;
    background-color: #121619;
    color: #fff;
    font-size: 1vw;
    text-align: center;
    line-height: 1.5;
  }

  .soc-med-icons {
    margin: 0 15px;
  }

  .sm-scr {
    display: none;
  }

  .bg-scr {
    display: initial;
  }

  .footer-img {
    height: 130px;
    width: 150px;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
  }

  .footer-addr {
    padding: 0;
    margin-top: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }

  .footer-icons {
    margin: 0;
    padding-top: 7px;
    grid-column: 4 / 7;
    grid-row: 1 / 3;
    color: white;
  }

  .footer-info {
    margin-top: 0;
    grid-column: 4 / 7;
    grid-row: 3 / 4;
  }

  .last-mod {
    color: #b2ff00;
    grid-column: 4 / 7;
    grid-row: 4 / 5;
  }
}
