* {
  margin: 0;
  padding: 0;
  max-width: 400px;
  box-sizing: border-box;
  place-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3eded;
}

.my-photo {
  box-shadow: 1px 1px 10px #333;
  border-radius: 5px;
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

header {
  margin-top: 20px;
  display: flex;
  padding: 1rem;
  background-color: #09814a;
  color: #fff;
  font-size: 12px;
  text-align: Left;
}

#mode {
  position: absolute;
  top: 2rem;
  right: 0;
  font-size: 2.2rem;
  cursor: pointer;
  margin: 0;
  color: black;
}

nav {
  background-color: #bcb382;
  margin: 10px 0;
}

nav ul {
  list-style-type: none;
}

nav ul li:first-child a {
  background-color: #2d4739;
  color: #fff;
}

nav ul li:first-child a:hover {
  background-color: #fff;
  color: #2d4739;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover,
.card a:hover {
  color: #09814a;
}

.active {
  color: yellow;
}

/* small view navigation */
#menu {
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 7px 6px;
  background-color: #eee;
  color: #000;
  position: absolute;
  top: 5.7rem;
  right: 0.4rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #333;
  color: #fff;
}
.navigation li {
  display: none;
}
.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.navigation li a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
  display: block;
  width: 100%;
}
.open li a {
  display: block;
}

h2 {
  text-align: center;
  padding: 0.5rem 0;
}

.hero {
  width: 100%;
  position: relative;
  /* height: 300px; */
}

.hero img,
.google-map {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.google-map {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.hero-img-name {
  position: absolute;
  top: 20px;
  left: 20px;
  background: radial-gradient(#fff, #4d5b97);
  border: 0.5px solid rgba(0, 0, 0, 0.75);
  padding: 0 0.5rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
}

.hero-img-name p {
  margin: 0;
  padding: 0.25rem;
  font-weight: 500;
  font-size: clamp(15px, 4vw, 30px);
  color: black;
}

main {
  display: block;
}

main ul {
  padding: 20px 0;
  line-height: 2;
  padding-left: 20px;
}

.card {
  border-radius: 5px;
  border: 0.5px solid #b6b2b2;
  margin-bottom: 10px;
}

.card ul {
  list-style-type: none;
}

.card li,
.card p {
  font-size: 15px;
}

.card h3 {
  background-color: #e5c687;
  color: black;
  font-weight: initial;
  text-align: center;
  padding: 0.5rem;
  font-size: clamp(10px, 12vw, 20px);
}

.card div {
  text-align: center;
  padding: 20px 0;
  line-height: 2.5;
}

footer {
  display: block;
  margin-top: 20px;
  padding: 1rem;
  background-color: #121619;
  color: #fff;
  font-size: clamp(12px, 10vw, 14px);
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

.last-mod {
  color: #b2ff00;
}

.sm-scr {
  display: initial;
}

.bg-scr {
  display: none;
}

/* Larger screen views *********************/

@media screen and (min-width: 401px) {
  * {
    margin: 0 auto;
    max-width: 720px;
  }

  header img,
  header h1 {
    margin: 0;
  }

  .my-name {
    padding-left: 40px;
  }

  header {
    justify-content: center;
    margin-top: 20px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #menu {
    display: none; /* hide hamburger button */
  }

  .navigation {
    flex-direction: row;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
  }

  .hero {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    justify-content: center;
  }

  main h2 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    font-family: "Source Sans Pro", san-serif;
    font-size: clamp(10px, 12vw, 20px);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #333;
    margin: 0 auto 5px;
    padding: 0.5rem 0;
    text-align: center;
    justify-content: space-between;
    width: 100%;
  }

  #learning-act {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    width: 100%;
    height: 100%;
  }

  #weather-info {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    width: 100%;
    height: 100%;
  }

  footer {
    margin-top: 10px;
    font-size: clamp(8px, 12vw, 16px);
    width: 100%;
  }

  .sm-scr {
    display: none;
  }

  .bg-scr {
    display: initial;
  }
}
