/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --input-initial: rgba(0, 0, 0, 0.1);
  --input-color: #555;
  --input-valid: #bcb382;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3eded;
}

.my-photo {
  box-shadow: 1px 1px 10px #333;
  border-radius: 5px;
  width: 90px;
  height: 85px;
  margin-right: 20px;
}

header {
  margin-top: 20px;
  display: flex;
  padding: 1rem;
  background-color: #09814a;
  color: #fff;
  font-size: 12px;
  text-align: Left;
}

#mode {
  position: absolute;
  top: 2rem;
  right: 0;
  font-size: 2.2rem;
  cursor: pointer;
  margin: 0;
  color: black;
}

nav {
  background-color: var(--input-valid);
  margin: 10px 0;
}

nav ul {
  list-style-type: none;
}

/* nav ul li:first-child a {
  background-color: #2d4739;
  color: #fff;
}

nav ul li:first-child a:hover {
  background-color: #fff;
  color: #2d4739;
}
*/

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover,
.card a:hover {
  color: #09814a;
}

.navigation li .active {
  color: yellow;
}

/* small view navigation */
#menu {
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 7px 6px;
  background-color: #eee;
  color: #000;
  position: absolute;
  top: 5.7rem;
  right: 0.4rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #333;
  color: #fff;
}
.navigation li {
  display: none;
}

.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.navigation li a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
  display: block;
  width: 100%;
}
.open li a {
  display: block;
}

h2 {
  text-align: center;
  padding: 0.5rem 0;
}

footer {
  display: block;
  margin-top: 20px;
  padding: 1rem;
  background-color: #121619;
  color: #fff;
  font-size: clamp(12px, 10vw, 14px);
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

.last-mod {
  color: #b2ff00;
}

.sm-scr {
  display: initial;
}

.bg-scr {
  display: none;
}

/* Form Design *********************/

#formmessage {
  visibility: hidden;
  margin-top: 0.75rem;
  padding: 0.5rem;
  color: red;
}

.smaller {
  font-size: 11px;
  position: relative;
  padding-bottom: 0.75rem;
  margin: 0;
  color: #681e0d;
}

@keyframes shaketext {
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}

form fieldset {
  margin: 1rem 0;
  border: 1px solid #1a3c42;
  border-radius: 10px;
  padding: 0.5rem 2%;
}

form legend {
  color: #1a3c42;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top {
  display: block;
  padding-top: 1rem;
  color: #681e0d;
  font-size: 0.8rem;
  width: 100%;
}

form label.rng {
  display: block;
  padding-top: 1rem;
  color: #681e0d;
  font-size: 0.8rem;
}

form label.rng input {
  display: block;
  font-size: 1rem;
  width: 100%;
  max-width: 20rem;
  padding: 0;
  margin: 0;
}

#ratingvalue {
  position: absolute;
  margin-top: 0.8rem;
  padding-left: 10.8rem;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

#pagerating {
  display: block;
  width: 190px;
  margin-bottom: 0;
}

#rangevalues {
  display: flex;
  margin: 0;
  padding-top: 0.5rem;
  width: 200px;
}

#rangevalues option {
  flex: 1 1 auto;
}

form label.top input {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: var(--input-color);
  width: 100%;
  max-width: 20rem;
  background-color: var(--input-initial);
  font-weight: bold;
}

form input.submitBtn {
  border: none;
  background-color: #681e0d;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 1rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input::placeholder {
  font-size: 0.8rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
  background-color: var(--input-valid);
  color: rgba(0, 0, 0, 0.7);
}

/* Record Page  *********************/

#recordbody {
  text-align: center;
}

#recordbody h1,
#recordbody p {
  padding: 0.5rem 0;
}

/* Larger screen views *********************/

@media screen and (min-width: 401px) {
  * {
    margin: 0 auto;
    max-width: 760px;
  }

  header {
    justify-content: center;
    margin-top: 20px;
  }

  header img,
  header h1 {
    margin: 0;
  }

  .my-name {
    padding-left: 40px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #menu {
    display: none; /* hide hamburger button */
  }

  .navigation {
    flex-direction: row;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  footer {
    margin-top: 10px;
    font-size: clamp(8px, 12vw, 16px);
    width: 100%;
  }

  .sm-scr {
    display: none;
  }

  .bg-scr {
    display: initial;
  }
}
